
<section class="my-about-page">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-7">
                <div class="text-uppercase">
                    <h2 class="d-block my-title-about"><strong>CarRent <span class="text-primary">- wypożyczalnia samochodów dla każdego!</span></strong></h2>
                    <div class="my-hr my-page-intro-rule"></div>
                </div>
                <p class="lead my-text-about">
                    Nasza wypożyczalnia samochodów powstała z myślą o kierowcach i ich zróżnicowanych potrzebach. Niektórzy kierowcy potrzebują samochodu doraźnie, w sytuacji, kiedy ich własne auto uległo awarii.
                    Inni, nie używają samochodu na co dzień, jednak potrzebują auta na zaplanowany wyjazd np. wyjazd wakacyjny. Wiele firm szuka możliwości wynajmu długoterminowego, ale też krótkoterminowego. Niektórzy klienci chcą wynająć bus, a jeszcze inni zainteresowani są wynajmem samochodów dostawczych.
                    Wypożyczalnia aut CarRent zapewnia bardzo bogato wyposażoną flotę, dzięki czemu, każdy zainteresowany wypożyczeniem samochodu, bez względu na czas i cel wypożyczenia, znajdzie rozwiązanie dla siebie najlepsze!
                </p>
            </div>
            <div class="col-lg-5 pl-md-5 pl-lg-0 my-img">
                <img class="img-fluid" src="~/img/CarRent_C.png" alt="" />
            </div>
        </div>
    </div>
    <div class="mb-0 my-hr my-page-intro-rule"></div>
    <div class="my-alternate-bg">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col-md-7 order-md-2">
                    <div class="text-uppercase">
                        <h2 class="d-block my-title-about"><strong>Wynajem długoterminowy i krótkoterminowy <span class="text-primary">– każdy znajdzie coś dla siebie!</span></strong></h2>
                        <div class="my-hr my-page-intro-rule"></div>
                    </div>
                    <p class="lead my-text-about">
                        Wynajem krótkoterminowy kierujemy przede wszystkim dla klientów indywidualnych, ceniących wygodę i komfort,
                        którzy potrzebują samochodu na kilka lub kilkanaście dni. Procedura wynajmu jest tak prosta, że wypożyczenie auta może
                        potrwać zaledwie kilkanaście minut. Używasz samochodu sporadycznie? Wynajem samochodów w krótkoterminowy jest zatem idealnym
                        rozwiązaniem! Wynajem samochodu długoterminowy kierowany jest do różnej wielkości firm, korporacji i instytucji. Nasza
                        wypożyczalnia samochodów oferująca auta bez limitów kilometrów w ofercie wynajmu długoterminowego, zapewnia bardzo duży
                        komfort użytkowani.
                    </p>
                </div>
                <div class="col-lg-5 pl-md-5 pl-lg-0 my-img">
                    <img class="img-fluid" src="~/img/CarRent_A.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="mt-0 my-hr my-page-intro-rule"></div>
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-7">
                <div class="text-uppercase">
                    <h2 class="d-block my-title-about"><strong>Samochody luksusowe, elektryczne i dostawcze <span class="text-primary">– duży wybór w doskonałych cenach!</span></strong></h2>
                    <div class="my-hr my-page-intro-rule"></div>
                </div>
                <p class="lead my-text-about">
                    Oferujemy samochody luksusowe najlepszych marek, samochody elektryczne oraz dostawcze.
                    Dbamy o to, aby każdy samochód był doskonale przygotowany do wypożyczenia: auta zawsze są wysprzątane wewnątrz,
                    czyste zewnątrz, a stan techniczny samochodów jest regularnie sprawdzany. Dbałość o bezpieczeństwo naszych klientów jest
                    dla nas priorytetem!
                </p>
            </div>
            <div class="col-lg-5 pl-md-5 pl-lg-0 my-img">
                <img class="img-fluid" src="~/img/CarRent_B.png" alt="" />
            </div>
        </div>
    </div>
</section>