@{
    ViewData["Title"] = "Home Page";
}

<section class="my-front-page-welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <span class="text-muted text-uppercase my-text-small my-page-intro-subheader">
                    lorem ipsum dolor sit.
                </span>
                <h2 class="text-uppercase my-page-intro-header">
                    Witaj na <span class="text-primary">
                        naszej stronie
                    </span>
                </h2>
                <div class="my-hr my-page-intro-rule"></div>
                <p>
                    Lorem ipsum dolor sit amet nibh. Maecenas nec dui. Cras ac quam placerat eget, ultricies viverra consectetuer. Etiam volutpat enim diam, venenatis leo elit ac elit metus, vulputate tortor libero, id tincidunt nonummy, leo eu ante. Curabitur volutpat eu, iaculis dignissim sagittis odio orci, blandit venenatis, nunc eu odio. Donec dolor eget diam sit amet, vestibulum ipsum. Vestibulum nibh. Duis at tortor. Phasellus sagittis eu, pulvinar gravida, nisl in sem. Suspendisse dolor leo non imperdiet sagittis, nunc sit amet magna. Aliquam rhoncus wisi. Praesent vitae arcu id risus. Morbi quis tortor. Phasellus id nisl a dolor. Vestibulum dapibus vel, congue sodales libero. Cras in faucibus orci fermentum eget, euismod pede, pulvinar ut, neque
                </p>
            </div>
            <div class="col-lg-6 pl-5">
                <img class="img-fluid" src="img/pages/front-page-welcome.png" alt="" />
            </div>
        </div>
    </div>
</section>


