@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron text-center my-hero">
    <div class="container  my-hero-content">
        <h1 class="text-white my-hero-header text-uppercase">Car_Rent</h1>
        <h2 class="my-hero-subheader text-white">wypożyczalnia samochodów</h2>
    </div>
</div>
<section class="my-alternate-bg my-front-page-welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="my-section-header">
                    <h2 class="text-uppercase my-page-intro-header">
                        Rezerwacje<span class="text-primary">
                            Online
                        </span>
                    </h2>
                    <div class="my-hr my-page-intro-rule"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 pl-md-5 pl-lg-0 d-none d-md-flex my-img">
                <img class="img-fluid" src="~/img/CarRent00.png" alt="" />
            </div>
            <!--Form Reservation-->
            <div class="col-lg-7 pl-lg-5  mt-4 mb-4">
                <div class="my-form-top">
                    <div class="my-content-form">
                        <h4 class="text-uppercase text-white my-form-header">formularz rezerwacji</h4>
                        <form class="my-from" action="">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <i class="fa fa-map-marker"></i>
                                    <label class="my-title-label" for="inputLocationStart">Punkt odbioru</label>
                                    <select class="form-control" id="inputLocationStart">
                                        <option>Warszawa ul. Modlińska 65</option>
                                        <option>Karków ul. Dolna 139</option>
                                        <option>Poznań ul. Sprzymierzonych 50</option>
                                        <option>Wrocław  ul. Staszica 38</option>
                                        <option>Szczecin Al. Wyzwolenia 146</option>
                                        <option>Bydgoszcz ul. Perłowa 104</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-5">
                                    <i class="fa fa-calendar"></i>
                                    <label class="my-title-label" for="inputDateStart">Data odbioru</label>
                                    <span class="oi oi-calendar"></span>
                                    <input type="date" class="form-control" id="inputDateStart">
                                </div>
                            </div>
                            <div class="col-sm-11 my-hr my-page-intro-rule"></div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <i class="fa fa-map-marker"></i>
                                    <label class="my-title-label" for="inputLocationEnd">Punkt zwrotu</label>
                                    <span class="oi oi-map-marker"></span>
                                    <select class="form-control" id="inputLocationEnd">
                                        <option>Warszawa ul. Modlińska 65</option>
                                        <option>Karków ul. Dolna 139</option>
                                        <option>Poznań ul. Sprzymierzonych 50</option>
                                        <option>Wrocław  ul. Staszica 38</option>
                                        <option>Szczecin Al. Wyzwolenia 146</option>
                                        <option>Bydgoszcz ul. Perłowa 104</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-5">
                                    <i class="fa fa-calendar"></i>
                                    <label class="my-title-label" for="inputDateEnd">Data zwrotu</label>
                                    <input type="date" class="form-control" id="inputDateEnd">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <button type="submit" class="btn btn-primary my-form-btn"> Szukaj <i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="mt-0 my-hr my-page-intro-rule"></div>
<section class="my-front-page-services">
    <div class="container">
        <div class="mb-5 my-section-header">
            <h2 class="text-uppercase">Dlaczego warto wynająć u nas auto?</h2>
        </div>
        <div class="row">
            <!-- jeden box -->
            <div class="col-md-6 col-lg-4">
                <div class="my-services-box">
                    <div class="d-flex my-services-box-top">
                        <div class="d-flex my-services-box-img">
                            <img src="~/img/rel.png" alt="">
                        </div>
                        <div class="text-uppercase my-services-box-title">
                            <span class="d-block my-services-box-header">Niezawodność</span>
                        </div>
                    </div>
                    <div class="d-block my-services-box-text">
                        <p class="my-text-small">Wyłącznie nowe, sprawne technicznie auta podlegające stałej kontroli w autoryzowanych stacjach obsługi.</p>
                    </div>
                </div>
            </div>
            <!-- jeden box -->
            <div class="col-md-6 col-lg-4">
                <div class="my-services-box">
                    <div class="d-flex my-services-box-top">
                        <div class="d-flex my-services-box-img">
                            <img src="~/img/shield.png" alt="">
                        </div>
                        <div class="text-uppercase my-services-box-title">
                            <span class="d-block my-services-box-header">Bezpieczeństwo</span>
                        </div>
                    </div>
                    <div class="d-block my-services-box-text">
                        <p class="my-text-small">
                            Nie udostępniamy danych osobowych naszych Klientów innym firmom, zachowujemy dyskrecję w kontaktach prywatnych i biznesowych.
                        </p>
                    </div>
                </div>
            </div>
            <!-- jeden box -->
            <div class="col-md-6 col-lg-4">
                <div class="my-services-box">
                    <div class="d-flex my-services-box-top">
                        <div class="d-flex my-services-box-img">
                            <img src="~/img/cash01.png" alt="">
                        </div>
                        <div class="text-uppercase my-services-box-title">
                            <span class="d-block my-services-box-header">Brak kaucji</span>
                        </div>
                    </div>
                    <div class="d-block my-services-box-text">
                        <p class="my-text-small">Nie pobieramy kaucji od naszych Klientów za wynajem samochodu.</p>
                    </div>
                </div>
            </div>
            <!-- jeden box -->
            <div class="col-md-6 col-lg-4">
                <div class="my-services-box">
                    <div class="d-flex my-services-box-top">
                        <div class="d-flex my-services-box-img">
                            <img src="~/img/cash02.png" alt="">
                        </div>
                        <div class="text-uppercase my-services-box-title">
                            <span class="d-block my-services-box-header">Cena</span>
                        </div>
                    </div>
                    <div class="d-block my-services-box-text">
                        <p class="my-text-small">Standardy międzynarodowych korporacji w polskiej cenie. Brak opłat przygotowawczych, rabaty dla stałych Klientów oraz za rezerwacje on-line.</p>
                    </div>
                </div>
            </div>
            <!-- jeden box -->
            <div class="col-md-6 col-lg-4">
                <div class="my-services-box">
                    <div class="d-flex my-services-box-top">
                        <div class="d-flex my-services-box-img">
                            <img src="~/img/clock.png" alt="">
                        </div>
                        <div class="text-uppercase my-services-box-title">
                            <span class="d-block my-services-box-header">Całodobowa obsługa</span>
                        </div>
                    </div>
                    <div class="d-block my-services-box-text">
                        <p class="my-text-small">Zapewniamy całodobowe wsparcie telefoniczne - dzięki temu zawsze możesz liczyć na naszą pomoc.</p>
                    </div>
                </div>
            </div>
            <!-- jeden box -->
            <div class="col-md-6 col-lg-4">
                <div class="my-services-box">
                    <div class="d-flex my-services-box-top">
                        <div class="d-flex my-services-box-img">
                            <img src="~/img/steps.png" alt="">
                        </div>
                        <div class="text-uppercase my-services-box-title">
                            <span class="d-block my-services-box-header">Tylko 4 kroki</span>
                        </div>
                    </div>
                    <div class="d-block my-services-box-text">
                        <p class="my-text-small">Teraz łatwo, szybko i bezpiecznie dokonasz rezerwacji online wybranego samochodu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="mb-0 my-hr my-page-intro-rule"></div>
<section class="my-alternate-bg my-front-page-portfolio">
    <div class="container my-alternate-bg">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="my-section-header">
                    <h2 class="text-uppercase">Nasze <span class="text-primary">samochody</span></h2>
                    <div class="my-hr my-page-intro-rule"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-4 mt-4">
                <img class="img-fluid img-thumbnail" src="~/img/Cars_Img/car_portfolio00.png" alt="" />
            </div>
            <div class="col d-none d-xl-block">
                <div class="d-flex justify-content-between flex-xl-wrap">
                    <img class="img-fluid img-thumbnail" src="~/img/Cars_Img/car_portfolio01.png" alt="" />
                    <img class="img-fluid img-thumbnail" src="~/img/Cars_Img/car_portfolio02.png" alt="" />
                    <img class="img-fluid img-thumbnail mt-3" src="~/img/Cars_Img/car_portfolio03.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>





