@mixin bg-overlay($color, $opacity) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    z-index: 0;
    background: none repeat $color;
    opacity: $opacity;
}

@mixin relative-zindex() {
    position: relative;
    z-index: 1000;
}

@mixin my-size($w, $h) {
    width: $w;
    height: $h;
}
