
<div class="my-cars-list-page">
    <div class="container">
        <div class="text-center mx-auto my-cars-list-intro">
            <h2 class="text-uppercase my-page-intro-header">Lista dostępnych 
            <span class="text-primary">samochodów</span></h2>
            <div class="my-hr my-page-intro-rule"></div>
        </div>
    </div>
    <!--Search-->
    <div class="my-car-search my-alternate-bg">
        <div class="container">
            <div class="input-group my-product-search-inner">
                <input class="form-control text-uppercase border-primary 
                       my-car-search-control my-car-search-input" 
                       type="search" placeholder="Wpisz szukaną frazę" />
                <div class="input-group-btn">
                    <button class="btn btn-primary bg-white border-primary text-uppercase dropdown-toggle
                            my-car-search-control my-car-search-categories">Kategorie</button>
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-primary my-car-search-btn">
                        <i class="fa fa-search"></i>
                    </button> 
                </span>
            </div>
        </div>
    </div>
    <!--Cars list-->
    <div class="container">
        <div class="row my-cars">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="my-product-item">
                    <a class="d-flex justify-content-center my-product-item-img" asp-controller="Car" asp-action="Car">
                        <img class="align-self-center img-thumbnail rounded" src="~/img/tmp/car_1.png" alt="zdjecie samochodu" />
                    </a>
                    <a class="my-car-item-link" asp-controller="Car" asp-action="Car">
                        <h4 class="text-uppercase my-car-name">Nazwa auta</h4>
                    </a>
                    <p class="my-text-small my-car-item-desc">
                        Lorem ipsum dolor lorem juh fuanomt agmuoc
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="my-car-price">68 zł/dzień</span>
                        <span>
                            <i class="fa fa-plus text-success mr-1"> 68 </i>
                            <i class="fa fa-minus text-danger ml-1"> 7 </i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="my-product-item">
                    <a class="d-flex justify-content-center my-product-item-img" href="car.html">
                        <img class="align-self-center img-thumbnail rounded" src="~/img/tmp/car_BB.png" alt="zdjecie samochodu" />
                    </a>
                    <a class="my-car-item-link" href="car.html">
                        <h4 class="text-uppercase my-car-name">Nazwa auta</h4>
                    </a>
                    <p class="my-text-small my-car-item-desc">
                        Lorem ipsum dolor lorem juh fuanomt agmuoc
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="my-car-price">68 zł/dzień</span>
                        <span>
                            <i class="fa fa-plus text-success mr-1"> 68 </i>
                            <i class="fa fa-minus text-danger ml-1"> 7 </i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="my-product-item">
                    <a class="d-flex justify-content-center my-product-item-img" href="car.html">
                        <img class="align-self-center img-thumbnail rounded" src="~/img/tmp/car_CC.jpg" alt="zdjecie samochodu" />
                    </a>
                    <a class="my-car-item-link" href="car.html">
                        <h4 class="text-uppercase my-car-name">Nazwa auta</h4>
                    </a>
                    <p class="my-text-small my-car-item-desc">
                        Lorem ipsum dolor lorem juh fuanomt agmuoc
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="my-car-price">68 zł/dzień</span>
                        <span>
                            <i class="fa fa-plus text-success mr-1"> 68 </i>
                            <i class="fa fa-minus text-danger ml-1"> 7 </i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="my-product-item">
                    <a class="d-flex justify-content-center my-product-item-img" href="car.html">
                        <img class="align-self-center img-thumbnail rounded" src="~/img/tmp/car_03.jpg" alt="zdjecie samochodu" />
                    </a>
                    <a class="my-car-item-link" href="car.html">
                        <h4 class="text-uppercase my-car-name">Nazwa auta</h4>
                    </a>
                    <p class="my-text-small my-car-item-desc">
                        Lorem ipsum dolor lorem juh fuanomt agmuoc
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="my-car-price">68 zł/dzień</span>
                        <span>
                            <i class="fa fa-plus text-success mr-1"> 68 </i>
                            <i class="fa fa-minus text-danger ml-1"> 7 </i>
                        </span>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="my-product-item">
                    <a class="d-flex justify-content-center my-product-item-img" href="car.html">
                        <img class="align-self-center img-thumbnail rounded" src="~/img/tmp/car_04.jpg" alt="zdjecie samochodu" />
                    </a>
                    <a class="my-car-item-link" href="car.html">
                        <h4 class="text-uppercase my-car-name">Nazwa auta</h4>
                    </a>
                    <p class="my-text-small my-car-item-desc">
                        Lorem ipsum dolor lorem juh fuanomt agmuoc
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="my-car-price">68 zł/dzień</span>
                        <span>
                            <i class="fa fa-plus text-success mr-1"> 68 </i>
                            <i class="fa fa-minus text-danger ml-1"> 7 </i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="my-product-item">
                    <a class="d-flex justify-content-center my-product-item-img" href="car.html">
                        <img class="align-self-center img-thumbnail rounded" src="~/img/tmp/car_05.jpg" alt="zdjecie samochodu" />
                    </a>
                    <a class="my-car-item-link" href="car.html">
                        <h4 class="text-uppercase my-car-name">Nazwa auta</h4>
                    </a>
                    <p class="my-text-small my-car-item-desc">
                        Lorem ipsum dolor lorem juh fuanomt agmuoc
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="my-car-price">68 zł/dzień</span>
                        <span>
                            <i class="fa fa-plus text-success mr-1"> 68 </i>
                            <i class="fa fa-minus text-danger ml-1"> 7 </i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="my-product-item">
                    <a class="d-flex justify-content-center my-product-item-img" href="car.html">
                        <img class="align-self-center img-thumbnail rounded" src="~/img/tmp/car_06.jpg" alt="zdjecie samochodu" />
                    </a>
                    <a class="my-car-item-link" href="car.html">
                        <h4 class="text-uppercase my-car-name">Nazwa auta</h4>
                    </a>
                    <p class="my-text-small my-car-item-desc">
                        Lorem ipsum dolor lorem juh fuanomt agmuoc
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="my-car-price">68 zł/dzień</span>
                        <span>
                            <i class="fa fa-plus text-success mr-1"> 68 </i>
                            <i class="fa fa-minus text-danger ml-1"> 7 </i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="my-product-item">
                    <a class="d-flex justify-content-center my-product-item-img" href="car.html">
                        <img class="align-self-center img-thumbnail rounded" src="~/img/tmp/car_07.jpg" alt="zdjecie samochodu" />
                    </a>
                    <a class="my-car-item-link" href="car.html">
                        <h4 class="text-uppercase my-car-name">Nazwa auta</h4>
                    </a>
                    <p class="my-text-small my-car-item-desc">
                        Lorem ipsum dolor lorem juh fuanomt agmuoc
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="my-car-price">68 zł/dzień</span>
                        <span>
                            <i class="fa fa-plus text-success mr-1"> 68 </i>
                            <i class="fa fa-minus text-danger ml-1"> 7 </i>
                        </span>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="my-product-item">
                    <a class="d-flex justify-content-center my-product-item-img" href="car.html">
                        <img class="align-self-center img-thumbnail rounded" src="~/img/tmp/car_08.jpg" alt="zdjecie samochodu" />
                    </a>
                    <a class="my-car-item-link" href="car.html">
                        <h4 class="text-uppercase my-car-name">Nazwa auta</h4>
                    </a>
                    <p class="my-text-small my-car-item-desc">
                        Lorem ipsum dolor lorem juh fuanomt agmuoc
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="my-car-price">68 zł/dzień</span>
                        <span>
                            <i class="fa fa-plus text-success mr-1"> 68 </i>
                            <i class="fa fa-minus text-danger ml-1"> 7 </i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="my-product-item">
                    <a class="d-flex justify-content-center my-product-item-img" href="car.html">
                        <img class="align-self-center img-thumbnail rounded" src="~/img/tmp/car_09.jpg" alt="zdjecie samochodu" />
                    </a>
                    <a class="my-car-item-link" href="car.html">
                        <h4 class="text-uppercase my-car-name">Nazwa auta</h4>
                    </a>
                    <p class="my-text-small my-car-item-desc">
                        Lorem ipsum dolor lorem juh fuanomt agmuoc
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="my-car-price">68 zł/dzień</span>
                        <span>
                            <i class="fa fa-plus text-success mr-1"> 68 </i>
                            <i class="fa fa-minus text-danger ml-1"> 7 </i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="my-product-item">
                    <a class="d-flex justify-content-center my-product-item-img" href="car.html">
                        <img class="align-self-center img-thumbnail rounded" src="~/img/tmp/car_10.jpg" alt="zdjecie samochodu" />
                    </a>
                    <a class="my-car-item-link" href="car.html">
                        <h4 class="text-uppercase my-car-name">Nazwa auta</h4>
                    </a>
                    <p class="my-text-small my-car-item-desc">
                        Lorem ipsum dolor lorem juh fuanomt agmuoc
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="my-car-price">68 zł/dzień</span>
                        <span>
                            <i class="fa fa-plus text-success mr-1"> 68 </i>
                            <i class="fa fa-minus text-danger ml-1"> 7 </i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="my-product-item">
                    <a class="d-flex justify-content-center my-product-item-img" href="car.html">
                        <img class="align-self-center img-thumbnail rounded" src="~/img/tmp/car_11.jpg" alt="zdjecie samochodu" />
                    </a>
                    <a class="my-car-item-link" href="car.html">
                        <h4 class="text-uppercase my-car-name">Nazwa auta</h4>
                    </a>
                    <p class="my-text-small my-car-item-desc">
                        Lorem ipsum dolor lorem juh fuanomt agmuoc
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="my-car-price">68 zł/dzień</span>
                        <span>
                            <i class="fa fa-plus text-success mr-1"> 68 </i>
                            <i class="fa fa-minus text-danger ml-1"> 7 </i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

