.my-hr {
    display: block;
    width: 100%;
    height: 1px;
    background-color: darken($gray-200, 5%);
}
.my-alternate-bg {
    background-color: $my-gray-100;
}
.my-img {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}