<div class="container mt-4" style="margin-bottom: 10%">
    <h2 class="text-uppercase">Panel <span class="text-primary">sterowania</span></h2>
    <div class="my-hr my-page-intro-rule"></div>
    <ul>
        <li><a asp-controller="Location" asp-action="LocationListAdmin">Wszystkie lokalizacje</a></li>
        <li><a asp-controller="CarDetalis" asp-action="CarDetalisList">Wszystkie dostępne auta</a></li>
        <li><a asp-controller="Employe" asp-action="EmployeesList">Pracownicy</a></li>
        <li><a asp-controller="Grade" asp-action="GradeList">Kategorie cenowe</a></li>
        <li><a asp-controller="Car" asp-action="CarsListAdmin">Wszystkie modele aut</a></li>
        <li><a asp-controller="Customer" asp-action="CustomerList">Klienci</a></li>
    </ul>
</div>